In [1]:
import pandas as pd
from matplotlib import pyplot as plot
data = pd.read_csv("../datasets/Ruter_data.csv", delimiter=';')
data.shape

(6000, 17)

In [26]:
# We grab the needed data
pad = data[['Dato', 'Passasjerer_Ombord']]
pad

            Dato  Passasjerer_Ombord
0     10/08/2020                   5
1     15/08/2020                   5
2     03/08/2020                   6
3     27/07/2020                  10
4     27/08/2020                  10
...          ...                 ...
5995  10/06/2020                   2
5996  23/06/2020                   2
5997  11/06/2020                   3
5998  13/08/2020                   5
5999  05/08/2020                  -5

[6000 rows x 2 columns]

In [ ]:
# Helper function
def format_date(date) : 
    d, m, y = map(int, date.split('/'))
    return pd.Timestamp(day=d, month=m, year=y)

# We insert needed columns (Weekday and weeknumber)
pad.insert(2, 'Day_of_Week', [format_date(pad['Dato'][i].dayofweek for i in range(len(pad)))], True)
pad.insert(3, 'Week',        [format_date(pad['Dato'][i].dayofweek for i in range(len(pad)))], True)